# Bloatectomy on MIMIC III 
+ Concatenating notes for each admission into one document
+ This concatenation step is necessary for running bloatectomy on the MIMICiii database.

In [1]:
import pandas as pd
import os
import psycopg2
import numpy
from sqlalchemy import create_engine, update, event
from bloatectomy import bloatectomy

In [2]:
# if a mistake is made the connection will need to be closed before running again. uncomment the lines below to reset
#conn.commit()
#cur.close()
#conn.close()

In [2]:
POSTGRES_CONNECT = os.environ.get("POSTGRES_CONNECT")
#or enter here in the format
# POSTGRES_CONNECT = psycopg2.connect("dbname=mimic user=postgres_username password=postgres_password options=--search_path=mimiciii");

POSTGRES_ENGINE = os.environ.get("POSTGRES_ENGINE")
#or enter here in the format
# POSTGRES_ENGINE = create_engine('postgresql://postgres_username:postgres_password@localhost/mimic'

#connect to posgres
conn = psycopg2.connect(POSTGRES_CONNECT)
engine = create_engine(POSTGRES_ENGINE)
cur = conn.cursor();

#set search path for the mimic schema in postgres
cur.execute("""SET search_path = mimiciii;""")

##  One Document per Admission

For each admission, concatenate all the notes for that admission into one note (thus, each admission has one **document**). Create a table of these admission notes using the hospital admission id (hadm_id) as the identifier rather than the note id (row_id)

### Notes by Admission `notes_concatenated` with or without metadata
+ group by admission ID
+ order by note date ('note_dt')
+ concatenate all notes for that admission ID into one string
+ metadata==True: concatenate all notes and other data (date(s), provider=cgid, note, type=category,description) for that admission ID into one string
+ save as notes_concatenated or notes_concatenated_metadata

###  Create  new table for results `notes_concatenated` or `notes_concatenated_metadata`
+ hadm_id
+ text (concatenate notes and/or other data)

In [4]:
# set whether you want to include metadata at the top of each note (we don't use this for the NLP, but is' useful for the viewing by SMEs)
metadata = False

In [5]:
if metadata==False:
    cur.execute("""DROP TABLE IF EXISTS mimiciii.notes_concatenated;
    CREATE TABLE mimiciii.notes_concatenated
    (hadm_id int,
     text varchar);""") 
else:
    cur.execute("""DROP TABLE IF EXISTS mimiciii.notes_concatenated_metadata;
    CREATE TABLE mimiciii.notes_concatenated_metadata
    (hadm_id int,
     text varchar);""")
conn.commit();

In [6]:
# select the specific hadm_ids for this operation. Try with a few to make sure it's working
xf = pd.read_sql("""
SELECT hadm_id
FROM mimiciii.noteevents LIMIT 10 """, engine)

xf_ids = xf.hadm_id.unique()
#xf_ids

### function that lets us make multiple  requests to the postgres using pandas read_sql

In [7]:
@event.listens_for(engine, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    if executemany:
        cursor.fast_executemany = True

### function to pull notes, concatenate and save

+ this will take a few hours to run for about half of the hadm_ids in the database
+ iterate through for each unique admission (hadm_id)
+ pull all notes for an admission
+ order notes by charttime , then storetime
+ concatenate
+ save as one big note to new table

In [8]:
for j in xf_ids:
    
    if metadata == False:
        table_name = 'notes_concatenated'
        sql = """
        SELECT  hadm_id, chartdate, charttime, storetime, text
        FROM mimiciii.noteevents 
            WHERE hadm_id in ({0})
        GROUP BY hadm_id, chartdate, charttime, storetime, text
        ORDER BY chartdate, charttime, storetime"""

        # run sql query above to pull all notes for one admission (in order by date)
        sql = sql.format(j)
        xnotes=pd.read_sql(sql, engine)      
        xnotes = xnotes.loc[:,'text']
    
    else: 
        table_name = 'notes_concatenated_metadata'
        sql = """
        SELECT subject_id, hadm_id, chartdate, charttime, storetime, category, cgid, description, text
        FROM mimiciii.noteevents 
            WHERE hadm_id in ({0})
        GROUP BY subject_id, hadm_id, chartdate, charttime, storetime, category, cgid, description, text
        ORDER BY chartdate, charttime, storetime"""

        # run sql query above to pull all notes for one admission (in order by date)
        # concatenate notes and all other cols (metadata)
        # all the metadata gets put into one token for duplicate removal purposes
        sql = sql.format(j)
        xnotes=pd.read_sql(sql, engine)
        xnotes.loc[:,'text2'] = xnotes.loc[:,'text'] 
        xnotes.iloc[:,-2] = '. '
        
    # put a a period + whitespace to designate the end start and end of a note     
    xnotes['separator'] = '. '
    xtext = xnotes.to_csv(None, header=False, index=False) 
    # save as a new dataframe
    xtext2 = [(j, xtext)]
    xfulltext=pd.DataFrame(xtext2, columns=['hadm_id', 'text'])
    # append user and single note to the new table in database
    xfulltext.to_sql(table_name, con=engine, if_exists='append', chunksize=1, index=False, schema='mimiciii')

conn.commit()

In [9]:
# load the new table into pandas for inspection
notes_concat = pd.read_sql("""
SELECT *
FROM mimiciii.notes_concatenated""", engine)
#notes_concat.head()

# Bloatectomy
Bloatectomize mimiciii data by passing a list of hadm_ids and the table name where the concatenated notes are located

In [10]:
bloatectomy(xf_ids, style='highlight', output='html', filename='./output/mimic', postgres_table='mimiciii.notes_concatenated', postgres_engine=engine);

pulling notes from postgres database
highlighting duplications in ID 167853
Output file = ./output/mimic_167853.html
highlighting duplications in ID 107527
Output file = ./output/mimic_107527.html
highlighting duplications in ID 167118
Output file = ./output/mimic_167118.html
highlighting duplications in ID 196489
Output file = ./output/mimic_196489.html
highlighting duplications in ID 135453
Output file = ./output/mimic_135453.html
highlighting duplications in ID 170490
Output file = ./output/mimic_170490.html
highlighting duplications in ID 134727
Output file = ./output/mimic_134727.html
highlighting duplications in ID 114236
Output file = ./output/mimic_114236.html
highlighting duplications in ID 163469
Output file = ./output/mimic_163469.html
highlighting duplications in ID 189681
Output file = ./output/mimic_189681.html

In [3]:
list_example = [167853,167118]
bloatectomy(list_example, style='highlight', output='html',  postgres_table='mimiciii.notes_concatenated', postgres_engine=engine);

pulling notes from postgres database
highlighting duplications in ID 167853
Output file = bloatectomized_file_167853.html
highlighting duplications in ID 167118
Output file = bloatectomized_file_167118.html